<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
	<system.webServer>
		<handlers>
			<remove name="ascx"/>
			<add name="ascx" verb="*" path="*.ascx" type="nilnul.web.ascxRender.handler.Handler,nilnul.web.ascxRender.handler(131127"/>
		</handlers>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".ascx"/>
					<add allowed="true" fileExtension=".ascx"/>
				</fileExtensions>
			</requestFiltering>
		</security>
		<modules/>
	</system.webServer>
</configuration>
